html {
	color-scheme: dark;
}

body {
	align-items: center;
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	justify-content: center;
	margin: 0;
	padding: 0;
}

svg {
	transition: transform 0.1s;
}

circle, rect {
	cursor: pointer;
}
