:root {
	--outline: 1px;
	--spacing: 1rem;
	--transition: 0.125s;
}

@font-face {
	font-family: 'codicon';
	src: url('https://file%2B.vscode-resource.vscode-cdn.net/c%3A/SciTools/UnderstandForVSCode/res/codicon.ttf') format('ttf');
	font-display: block;
}

body {
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--vscode-input-background);
}

::selection {
	color: unset;
	background: var(--vscode-selection-background);
}

#messages {
	flex: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	padding: var(--spacing);
	padding-bottom: var(--outline);
	min-height: 10rem;
}

.message, #input {
	line-height: 1.5em;
}

.message {
	max-width: -webkit-fill-available;
	width: fit-content;
}

.message.user .body, .suggestion, #input {
	background: var(--vscode-editor-background);
}

.message.user {
	align-self: end;
}

.message.user .body {
	padding: var(--spacing);
}

.message .buttons {
	display: flex;
	gap: calc(var(--spacing) / 4);
	margin-top: calc(var(--spacing) / 2);
}

.message.user .buttons {
	justify-content: right;
	opacity: 0;
	transition: opacity var(--transition);
}

.message.user:has(:focus) .buttons, .message.user:hover .buttons {
	opacity: 1;
}

.body > :first-child {
	margin-top: 0;
}

.body > :last-child {
	margin-bottom: 0;
}

#input:focus, button:focus-visible {
	outline: var(--outline) solid var(--vscode-focusBorder);
}

:disabled {
	opacity: 75%;
}

#inputs {
	display: flex;
	flex-direction: column;
	padding: var(--spacing);
	position: relative;
}

button, #input {
	font-family: unset;
	font-size: unset;
	transition: color var(--transition), opacity var(--transition);
}

button {
	border: none;
	color: var(--vscode-editor-foreground);
	user-select: none;
}

button * {
	pointer-events: none;
	user-select: none;
}

button:not(:disabled) {
	cursor: pointer;
}

#suggestions {
	margin-right: calc(var(--spacing)* -1);
}

.suggestion {
	border-radius: var(--spacing);
	padding: calc(var(--spacing)* 0.5) var(--spacing);
	margin-right: var(--spacing);
	margin-bottom: var(--spacing);
	text-align: left;
}

.suggestion:hover:not(:disabled), .suggestion:active:not(:disabled) {
	color: var(--vscode-textLink-foreground);
}

#input {
	border: none;
	color: unset;
	padding-bottom: calc(var(--spacing) / 2);
	padding-left: var(--spacing);
	padding-right: calc(var(--spacing) * 3.25);
	padding-top: calc(var(--spacing) / 2);
}

#input {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: unset;
	border-radius: 0;
	display: -webkit-box;
	overflow: auto;
	white-space: pre-wrap;
	word-break: keep-all;
}

[placeholder]:empty::before {
	color: var(--vscode-input-placeholderForeground);
	content: attr(placeholder);
	pointer-events: none;
	position: absolute;
	user-select: none;
}

button.small {
	align-items: center;
	background: none;
	border-radius: 5px;
	display: flex;
	height: 1.375rem;
	justify-content: center;
	padding: 0;
	width: 1.375rem;
}

button.small:hover:not(:disabled) {
	background: var(--vscode-toolbar-hoverBackground);
}

#send {
	position: absolute;
	bottom: calc(var(--spacing) * 1.375);
	right: calc(var(--spacing) * 2);
}

pre {
	background-color: var(--vscode-textPreformat-background);
	border-radius: 4px;
	overflow: auto;
    padding: 0.5rem;
}

pre code {
	background-color: transparent;
}
