:root {
	--outline: 1px;
	--spacing: 1rem;
}

body {
	padding: 0;
}

::selection {
	color: unset;
	background: var(--vscode-selection-background);
}

.annotation {
	background: var(--vscode-input-background);
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	margin: var(--spacing);
	padding: var(--spacing)
}

.annotation:first-child {
	margin-top: calc(var(--spacing) - 1rem + var(--outline));
}

.annotation:focus, button:focus-visible, code:focus {
	outline: var(--outline) solid var(--vscode-focusBorder);
}

.annotation:focus button, .annotation:hover button, button:focus {
	opacity: 1;
}

.heading {
	display: flex;
	justify-content: space-between;
}

button {
	background: none;
	border-radius: 5px;
	border: none;
	color: var(--vscode-editor-foreground);
	cursor: pointer;
	font-family: var(--vscode-font-family);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	height: 1.25rem;
	height: fit-content;
	opacity: 1;
	user-select: none;
	width: 1.25rem;
}

button:hover {
	background: var(--vscode-toolbar-hoverBackground);
}

.heading p {
	column-gap: var(--spacing);
	display: flex;
	flex-wrap: wrap;
}

p {
	margin: 0;
}

span:not(:first-child) {
	color: var(--vscode-list-deemphasizedForeground);
}

code {
	background: none;
	border-radius: 0;
	color: var(--vscode-editor-foreground);
	font-family: var(--vscode-font-family);
	margin: -2px -6px;
	padding: 2px 6px;
	white-space: pre-wrap;
	word-break: keep-all;
}

.invisible {
	opacity: 0;
	pointer-events: none;
	user-select: none;
}
